<!DOCTYPE html> 
<html>
<head>  
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/bootstrapSwitch.css" />
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="../css/salary.css" /> 
	<link rel="stylesheet" type="text/css" href="../css/showLoading.css" />	
</head>

<body>
	<div id="nav_container">
		<div id="nav_top_bar">
			<div id="nav_site_header" style="background-image:url('../img/titleBG.png');height:40px;">
				<div id="btn" align="center">
					<img class="pull-left" src="../img/backBtn.png" style="height:40px" onclick="javascript:history.go(-1)" />
					<!--<span style="color:white;font-size:18px;font-family :微软雅黑;line-height:40px;">工资查询</span>-->
					<span style="position:absolute;color:white;font-size:18px;font-family :微软雅黑;line-height:40px;" id="salary">OA查询与审批</span>
				</div>
			</div>
		</div> <!-- end of top bar -->
	</div>
	<div id="content">
		<div id="main">
			<center>
				<br/>
				<table class="normal">
					<tbody>
						<tr>
							<th colspan="3">
								<span style="text-align:left;">待处理发文和公文</span>
							</th>
						</tr>
					</tbody>
				</table>
                
                <table class="footcollapse">
					<thead style="background-image:url(../img/up_02.png)">
						<tr>
							<th colspan="3"><span style="text-align:left;">发文</span><span style="text-align:right;">3</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th style="width:5px;background:#ddd"></th>
							<td style="width:290px;background:#FFFFFF;">
								<span>2013年研究生档案管理规定及实施办法</span>
							</td>
							<td style="width:5px;background:#ddd"></td>
						</tr>
                        <tr>
							<th style="width:5px;background:#ddd"></th>
							<td style="width:290px;background:#FFFFFF;">
								<span style="float:right;color:#9B9B9B;margin-right:7px;">4小时前</span>
							</td>
							<td style="width:5px;background:#ddd"></td>
						</tr>
						<tr>
							<th style="width:5px;background:#ddd"></th>
							<td style="width:290px;background:#E0F1F3;">
								<span>关于对“1.10”火灾事故责任人处理的通报及处理意见</span>
							</td>
							<td style="width:5px;background:#ddd"></td>
						</tr>
                        <tr>
							<th style="width:5px;background:#ddd"></th>
							<td style="width:290px;background:#E0F1F3;">
								<span style="float:right;color:#9B9B9B;margin-right:7px;">2013-6-18</span>
							</td>
							<td style="width:5px;background:#ddd"></td>
						</tr>
					</tbody>
				</table>
				<table class="footcollapse" style="margin-top:7px;">
					<thead style="background-image:url(../img/up_02.png)">
						<tr>
							<th colspan="3"><span style="text-align:left;">发文</span><span style="text-align:right;">3</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th style="width:5px;background:#ddd"></th>
							<td style="width:290px;background:#FFFFFF;">
								<a href="oa_release_documentation.html">关于指导就业委员会组成的通知及补充说明</a>
							</td>
							<td style="width:5px;background:#ddd"></td>
						</tr>
                        <tr>
							<th style="width:5px;background:#ddd"></th>
							<td style="width:290px;background:#FFFFFF;">
								<span style="float:right;color:#9B9B9B;margin-right:7px;">2013-6-17</span>
							</td>
							<td style="width:5px;background:#ddd"></td>
						</tr>
						<tr>
							<th style="width:5px;background:#ddd"></th>
							<td style="width:290px;background:#E0F1F3;">
								<span>上海海洋大学2013年度(非理科专业)高等数学竞赛获奖名单</span>
							</td>
							<td style="width:5px;background:#ddd"></td>
						</tr>
                        <tr>
							<th style="width:5px;background:#ddd"></th>
							<td style="width:290px;background:#E0F1F3;">
								<span style="float:right;color:#9B9B9B;margin-right:7px;">2013-6-16</span>
							</td>
							<td style="width:5px;background:#ddd"></td>
						</tr>
                        <tr>
							<th style="width:5px;background:#ddd"></th>
							<td style="width:290px;background:#FFFFFF;">
								<span>关于83界毕业生毕业典礼期间校园道路管制通知</span>
							</td>
							<td style="width:5px;background:#ddd"></td>
						</tr>
                        <tr>
							<th style="width:5px;background:#ddd"></th>
							<td style="width:290px;background:#FFFFFF;">
								<span style="float:right;color:#9B9B9B;margin-right:7px;">2013-6-16</span>
							</td>
							<td style="width:5px;background:#ddd"></td>
						</tr>
					</tbody>
				</table>
				
			</center>
		</div>
	</div>
	<!--<div id="footer">
		<p style="color:#424242">零星工资查询请访问校内网站</p>
	</div>-->
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="../cordova.js"></script>
	<script type="text/javascript" src="../js/knockout-2.2.0.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/bootstrapSwitch.js"></script>
	<script type="text/javascript" src="../viewsmodel/oaList.js"></script>
	<script type="text/javascript" src="../js/jquery.showLoading.min.js"></script>
</body>
</html>