body > header {
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
	z-index: 10;
	padding: .4em .5em 0;
	border-top: 10px solid black;
	background: rgba(0,0,0,0.8);
	color: white;
	line-height: 1.1;
	font-weight: bold;
	text-shadow: 0 -1px 1px black, 0 -1px 2px black;
 transition: .5s 1s -webkit-transform;
}
body > header:hover, body > header:active, body > header.focus {
	-webkit-transform: translateY(0px) translateY(0);
	transition-delay: 0s;
}
body > header > h1 {
	float: left;
	height: 1.3em;
	margin-right: .1em;
	font: 190%/1.6 Dabblet, sans-serif;
	text-shadow: .05em .05em .1em black;
	-webkit-transform: translateZ(0); /* fix for chopped letters */
}
body > header > .with-dropdown {
	float: left;
}
.tabs input {
	position: absolute;
	z-index: 1;
	opacity: 0;
}
.tabs {
	display: inline-block;
	height: .75em;
	margin: 0 5px 0 -.5em;
	white-space: nowrap;
	font-size: 115%;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased; /* fix for WebKit inconsistency */
	-webkit-transform: translateZ(0); /* fix for unhoverable tabs */
}
.controls-group {
	float: right;
	min-width: 15em;
	white-space: nowrap;
}
body[data-unsaved] button[title="Save"] {
	text-shadow: 0 0 .2em #6cf, 0 0 .4em #6cf;
}
header > .with-dropdown > button:after, header > .with-dropdown > .button:after {
	content: ' ▾';
}
.button:active, button:active, input:checked + label.button {
	box-shadow: 0 2px 6px black inset;
}
input:checked + label.button {
	background-color: rgba(0, 0, 0, .3);
}
#currentuser {
	max-width: 12em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.no-cors #currentuser {
	display: none;
}
 @media (max-width: 1000px) {
 #currentuser {
 max-width: 8em;
}
}
 @media (max-width: 800px) {
 #currentuser {
 max-width: 3em;
}
}
 @media (max-width: 800px) and (min-width: 400px) {
 #currentuser {
 max-width: none;
}
}
 #currentuser:not(:hover) {
 background-color: transparent;
}
header .user > img {
	max-height: 1.4em;
	margin: -.2em .3em -.2em -1.6em;
	vertical-align:bottom;
	border-radius: 1px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
}
#currentuser > img {
	margin-left: -.3em;
}
 a.button[href^="/help/"] {
 position: absolute;
 right: 3px;
 bottom: 5px;
 background-color: transparent;
}
 @-webkit-keyframes flip {
 from {
-webkit-transform: perspective(600px) rotate3d(1, 0, 0, 180deg);
}
to {
	-webkit-transform: perspective(600px) rotate3d(1, 0, 0, 0deg);
}
}
.tab {
	position: relative;
	top: 0;
	display: inline-block;
	padding: .5em 0.8em;
	border: 0;
	margin: 0 0 -15px;
	background: rgba(0, 0, 0, .2);
	cursor: pointer;
	-webkit-transform-origin: top;
	border-radius: 5px;
	box-shadow: .05em .1em .2em rgba(0, 0, 0, .7) inset;
	text-shadow: inherit;
 -webkit-animation: flip .5s; 
}
.tabs > input:checked + .tab, .tab.active {
	background: black;
	top: -3.0em;
 	-webkit-animation: flip .6s;
	-webkit-transform-origin: bottom;
}
body[data-view="separate"] .tab .if-not-separate {
	display: none;
}
.tabs > label > .title {
	overflow: hidden;
	transition: 1s max-width;
}
.with-dropdown {
	padding-top: 3px;
	height:40px;
}
